<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Novo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Novo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Vamos que vamos</strong>
    <p>Alan Rosa <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
</ion-content>
